
@if(todo.completed){
    <button mat-icon-button color="warn" (click)="toggleCompleteEmit()">
        <mat-icon matTooltip="Выполено" class="done">check_circle</mat-icon>
    </button>
} @else { 
    <button mat-icon-button color="warn" (click)="toggleCompleteEmit()">
        <mat-icon matTooltip="В ожидании" class="in-progress">schedule</mat-icon>
    </button>
}

<span class="title">
    {{todo.title}}
</span>

<button mat-icon-button color="warn" (click)="deleteItem()">
    <mat-icon>delete</mat-icon>
</button>


