.container {
    max-width: 600px;
    margin: 40px auto;
  }
  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }
  .todo-form {
    margin-bottom: 24px;
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

  .todo-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }