.register-container {
    max-width: 400px;
    margin: 50px auto;
}

.full-width {
    width: 100%;
    margin-bottom: 20px;
}

.error-msg {
    color: red;
    margin-bottom: 16px;
}

.to-login {
    margin-top: 40px;
    text-align: center;
}